appdirs==1.4.4
asn1crypto==1.4.0
attrs==20.3.0
beautifulsoup4==4.9.3
Bottleneck==1.2.1
certifi==2020.6.20
chardet==4.0.0
Charon==1.0
cryptography==3.3.2
cupshelpers==1.0
cycler==0.10.0
dbus-python==1.2.16
decorator==4.4.2
defusedxml==0.6.0
distlib==0.3.1
distro==1.5.0
et-xmlfile==1.0.1
filelock==3.0.12
git-review==1.28.0
gpg===1.14.0-unknown
gyp==0.1
-e git+git@github.com:chrisbrickhouse/HapticFeedbackExperiments.git@300ba27a33ff813350d5fc1fe1cb6a79f3cc8722#egg=haptic&subdirectory=haptic
html5lib==1.1
httplib2==0.18.1
idna==2.10
ifaddr==0.1.7
importlib-metadata==1.6.0
iniconfig==0.0.0
jdcal==1.0
Jinja2==2.11.3
kiwisolver==1.3.1
llvmlite==0.35.0
lxml==4.6.3
MarkupSafe==1.1.1
matplotlib==3.3.4
mechanize==0.4.5
more-itertools==4.2.0
netifaces==0.10.9
numba==0.52.0
numexpr==2.7.2
numpy==1.19.5
numpy-stl==2.8.0
odfpy==1.4.1
olefile==0.46
openpyxl==3.0.3
packaging==20.9
pandas==1.1.5
pexpect==4.8.0
Pillow==8.1.2
Pivy==0.6.5
pluggy==0.13.0
psutil==5.8.0
py==1.10.0
pycairo==1.16.2
pycups==2.0.1
pycurl==7.43.0.6
Pygments==2.7.1
PyGObject==3.38.0
pyinotify==0.9.6
pyparsing==2.4.7
PyQt5==5.15.2
PyQt5-sip==12.8.1
pyserial==3.5b0
PySimpleSOAP==1.16.2
pysmbc==1.0.23
pytest==6.0.2
python-apt==2.2.1
python-dateutil==2.8.1
python-debian==0.1.39
python-debianbts==3.1.0
python-pam==1.8.4
python-utils==2.2.0
python-xapp==2.0.2
python-xlib==0.29
pytz==2021.1
PyYAML==5.3.1
reportbug==7.10.3
requests==2.25.1
scipy==1.6.0
sentry-sdk==0.13.2
setproctitle==1.2.1
Shapely==1.7.1
six==1.16.0
soupsieve==2.2.1
tables==3.6.1
tinycss==0.4
tinycss2==1.0.2
toml==0.10.1
tornado==6.1
tox==3.21.4
urllib3==1.26.5
vboxapi==1.0
virtualenv==20.4.0+ds
webencodings==0.5.1
xlrd==1.2.0
xlwt==1.3.0
zeroconf==0.26.1
zipp==1.0.0
