alabaster==0.7.12
arabic-reshaper==2.1.3
astunparse==1.6.3
Babel==2.9.1
certifi==2021.5.30
cffi==1.14.6
charset-normalizer==2.0.3
cycler==0.10.0
decorator==4.4.2
distro==1.5.0
docutils==0.17.1
dukpy==0.2.3
esprima==4.0.1
et-xmlfile==1.1.0
evdev==1.4.0
freetype-py==2.2.0
future==0.18.2
gevent==21.1.2
gitdb==4.0.7
GitPython==3.1.18
glfw==2.1.0
greenlet==1.1.0
idna==3.2
imageio==2.9.0
imageio-ffmpeg==0.4.4
imagesize==1.2.0
javascripthon==0.11
jedi==0.18.0
Jinja2==3.0.1
json-tricks==3.15.5
kiwisolver==1.3.1
macropy3==1.1.0b2
MarkupSafe==2.0.1
matplotlib==3.4.2
moviepy==1.0.3
msgpack==1.0.2
msgpack-numpy==0.4.7.1
numexpr==2.7.3
numpy==1.21.1
opencv-python==4.5.3.56
openpyxl==3.0.7
packaging==21.0
pandas==1.3.0
parso==0.8.2
Pillow==8.3.1
proglog==0.1.9
psutil==5.8.0
PsychoPy==2021.2.0
psychtoolbox==3.0.17.8
pycparser==2.20
pygame==2.0.1
pyglet==1.4.11
Pygments==2.9.0
pyo==1.0.4
PyOpenGL==3.1.5
pyparallel==0.2.2
pyparsing==2.4.7
PyQt5==5.15.4
PyQt5-Qt5==5.15.2
PyQt5-sip==12.9.0
pyserial==3.5
python-bidi==0.4.2
python-dateutil==2.8.2
python-gitlab==2.9.0
python-vlc==3.0.12118
python-xlib==0.31
pytz==2021.1
PyYAML==5.4.1
pyzmq==22.1.0
questplus==2019.4
requests==2.26.0
requests-toolbelt==0.9.1
scipy==1.7.0
six==1.16.0
smmap==4.0.0
snowballstemmer==2.1.0
sounddevice==0.4.2
SoundFile==0.10.3.post1
Sphinx==4.1.1
sphinxcontrib-applehelp==1.0.2
sphinxcontrib-devhelp==1.0.2
sphinxcontrib-htmlhelp==2.0.0
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.3
sphinxcontrib-serializinghtml==1.1.5
tables==3.6.1
tqdm==4.61.2
ujson==4.0.2
urllib3==1.26.6
websocket-client==1.1.0
wxPython==4.1.1
xarray==0.18.2
xlrd==2.0.1
zope.event==4.5.0
zope.interface==5.4.0
